.table {
    width: 100%;
    border-radius: 12px;
}

.table-actions {
    width: 150px;
    display: flex;
    gap: 12px;
}

.edit-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.delete-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;

    .icon {
        transition-duration: 0.3s;
    }

    &::before {
        content: "Удалить?";
        position: absolute;
        top: -25px;
        color: black;
        transition-duration: 0.3s;
        font-size: 2px;
    }

    &:hover {
        width: 90px;
        align-items: center;
        border-color: #ff4d4f !important;
        border-radius: 50px;
        transition-duration: 0.3s;
        background: #ff4d4f !important;

        &::before {
            font-size: 13px;
            opacity: 1;
            transform: translateY(30px);
            transition-duration: 0.3s;
        }
    }

    &:hover .icon {
        color: black;
        transition-duration: 0.3s;
        transform: scale(3);
        margin-top: 40px;
    }
}
