.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    padding: 40px;
    margin: 40px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.actions {
    width: 100%;
    display: flex;
    gap: 12px;
}
